/*CSS STYLES */

html,
body {
  background-image: url(../img/newbackgroundlarge.png);
  background-position: center;
  margin: 0;
  padding: 0;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-repeat: no-repeat;
}

a {
  color: rgb(38, 76, 89);
}

header {
  background-color: rgb(38, 76, 89);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

header h1 {
  color: white;
  padding: 1em;
  margin: 0;
}

image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

#page-title {
  text-align: center;
  padding: 5vh 0 0 0;
}

#content-title {
  padding-left: 10vh;
}

h3 {
  padding-left: 10vh;
  font-weight: normal;
}
button {
  background-color: #FF7D54;
  color: #f1f1f1;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 16px 32px;
  border: none;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  padding: 4em;
}

@media (min-width: 600px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

.grid-item {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  padding: 1.5em;
  background-color: #e7fdff;
  transition: 0.5s;
  animation: fadeIn 0.5s;
  border-radius: 10px;
}

.grid-item img {
  width: 300px;
  height: 50%;
  object-fit: cover;
  border-radius: 12px;
  transition: 0.5s;
}

.grid-item img:hover {
  transform: scale(1.03);

}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
